body{
    font-family: var(--fonte-principal);
    color: #333333;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

.btn-outline{
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    background: transparent;
}

.btn-filled{
    background: #ffffff;
    color: #6329A2;
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}