.categories{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category-card{
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casual{
    background-image: url('../../images/products/casual.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.esporte{
    background-image: url('../../images/products/esporte.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.colorido{
    background-image: url('../../images/products/colorido.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.futurista{
    background-image: url('../../images/products/futurista.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

