.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
}

.top1 {
    grid-area: top1;
    background-image: url(../../images/products/card_imagem.jpg);
}

.top2 {
    grid-area: top2;
    background-image: url(../../images/products/roxo-verde-grid.jpg);
}

.midL {
    grid-area: midL;
    background-image: url(../../images/products/mulher-grid.jpg);
}

.midR {
    grid-area: midR;
    background-image: url(../../images/products/futurista-grid.jpg);
}

.bottomL {
    grid-area: bottomL;
    background-image: url(../../images/products/preto-azul-grid.jpg);
}

.bottomR {
    grid-area: bottomR;
    background-image: url(../../images/products/moderno-grid.jpg);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 30px;
}

.top1-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: 400;
    color: #ededed;
}

.card-subtitle {
    font-size: 1.5rem;
    color: #ededed;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "top1 top1"
            "bottomL bottomL"
            "midL midR"
            "midL bottomR"
            "top2 top2";
        max-width: 100%;
        gap: 0.625rem;
    }

    .top1 {
        min-height: 500px;
    }

    .top2,
    .bottomL {
        min-height: 190px;
    }

    .midL {
        min-height: 370px;
    }

}